.card-image{
    display: flex;
    justify-items: auto;
    width: 30%;
    height: 50%;
    margin: auto;
    padding: 5px;
}

.paragraph{
    display: flex;
    justify-content: center;
}

.arranged-images{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    }