.celestial-body,
.paragraph,
.arranged-images{
    display: flex;
}

.celestial-body{
    width: 30%;
    margin: auto;
}

.paragraph{
    justify-content: center;
}

.arranged-images{
    flex-flow: row wrap;
    margin: auto;
}